{% extends "web_app/layout.html" %}

{% block title%}Plot{% endblock %}


{% block content%}
    <h1>Vinland Saga</h1>
     <section id="start-story">
        <h2 id="first">The story begins in the 11th century during the Viking Age.</h2>
         <img src="https://sun9-61.userapi.com/baUMaZGi8XofszZsp5qTObe-2N20WcCV7Sk1vg/wTfNWiglJi0.jpg" id="pic" alt="" srcset="">
        <p id="second">Meet Thorfinn, the young warrior and son of Thors.</p>
        <p id="third">Thors, once known as the 'Troll of Jom,' has retired from the warrior's life for peace with his family.</p>
    </section>


    <section id="inciting-incident">
        <h2>The tranquility is disrupted.</h2>
        <p>The tranquility of Thors' life is disrupted by the arrival of mercenaries led by Askeladd.</p>
        <p>They seek to recruit Thors for a mission, but he refuses.</p>
        <p>In a tragic turn of events, Thors is betrayed and killed, setting Thorfinn on a path of revenge.</p>
    </section>


    <section id="explore-themes">
        <h2>Exploring themes.</h2>
        <p>As Thorfinn grows, the story delves into themes of revenge, war, and honor.</p>
        <p>The series intricately explores the impact of violence on individuals and societies.</p>
        <p>Thorfinn becomes entangled in larger conflicts, including the Danish invasion of England and Viking power struggles.</p>
    </section>


    <section id="climax-resolution">
        <h2>Climax and resolution.</h2>
        <p>The narrative reaches its climax as Thorfinn and Askeladd confront each other.</p>
        <p>The series skillfully blends historical accuracy with fictional elements, exploring the concept of Vinland, a legendary land symbolizing the characters' aspirations for a better life.</p>
        <p>Themes such as...</p>
    </section>

    <p>Plot</p>
{% endblock %}